.store {
    width: 95%;
    margin: auto;
}

.store-filter-block {
    display: grid;
    grid-template-columns: 2.2fr 2fr 4fr;
    margin: 40px 0;
}

.store-filter-search {
    display: flex;
    align-items: center;
}

.store-filter-select {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.store-filter-by-category,
.store-filter-by-branch {
    height: 100%;
    box-sizing: content-box;
    color: #9E9E9E;
    padding: 0 6px;
    text-align: start;
    border: 1px solid #DDDCDC;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    outline: none;
}

.store-filter-by-category {
    width: 45%;
}
.store-filter-by-branch {
    width: 45%;
    margin: 0 20px;
}

.store-filter-extra-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.store-filter-rating-button {
    padding: 15px 13px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background: #2A58AD;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin: 0 30px;
}

.store-filter-add-button {
    cursor: pointer;
}

.store-products-render-list {
    margin-top: 20px;
}

.store-products-list-title {
    display: grid;
    grid-template-columns: 1fr 10fr 5fr 7fr 10fr;
    text-align: start;
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
}

.store-products-list-title-number,
.store-products-list-title-name,
.store-products-list-title-quantity,
.store-products-list-title-limit,
.store-products-list-title-date {
    display: flex;
    align-items: center;
}

.store-products-list-title-number {
    text-align: center;
}

.store-product-list-item {
    display: grid;
    grid-template-columns: 1fr 10fr 5fr 7fr 9fr 1fr;
    text-align: start;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #fafafa;
    background: #FCFCFD;
    padding: 20px 0;
    cursor: pointer;
    margin: 5px 0;

}

.store-product-list-item-number,
.store-product-list-item-name,
.store-product-list-item-quantity,
.store-product-list-item-limit,
.store-product-list-item-date,
.store-product-list-item-option {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.store-product-list-item-number {
    justify-content: center;
    margin: 0;
}

.store-product-list-item-option {
    flex-direction: column;
    line-height: 6px;
}

.selected {
    background: #E6EFFE;
    border: 1px solid #D2E1FF;
    box-sizing: border-box;
    border-radius: 8px;
}

/* Fill window */

.store-fill-holder {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
}

.store-fill-window {
    width: 450px;
    padding: 50px 24px;
    background: #fff;
    position: relative;
    border: 1px solid #FAFAFA;
    border-radius: 20px;
}

.store-fill-close-icon {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 18px;
    cursor: pointer;
}

.store-fill-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
}

.store-fill-subtitle {
    font-weight: 400;
    font-size: 18px;
    margin: 10px 0;
}

.store-fill-input {
    padding: 15px 6px;
    width: 95%;
    font-size: 18px;
    border: 1px solid #DDDCDC;
    border-radius: 10px;
    margin: 30px 0;
    outline: none;
}

.store-fill-button {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background: #28C8A2;
    color: #fff;
    cursor: pointer;
}